.dashboard {
  width: 94.5%;
  height: 80vh;
}

.main-content {
  margin: 60px 0px 0px 50px;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #1c1c1e;
  color: white;
}

.widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.middleSection {
  width: 80%;
  height: 100%;
}
.middleSection p {
  margin: 14px 10px;
  font-size: 20px;
}
.recentOrder {
  margin-top: 30px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
.netProfit {
  margin-bottom: -25px;
}
.netProfitMobile{
  display: none;
  width: 100%;
  margin-bottom: -25px;
}
.goalsMobile{
  display: none;
}
.customerFeedback {
  margin-top: 15px;
  width: 390px;

}
.customerFeedbackMobile{
  display: none;
  margin-top: 15px;
  width: 390px;

}

@media (max-width:950px){
  .dashboard {
    width: 93%;
    height: 75vh;
  }
  .main-content {
    margin: 60px 0px -10px 40px;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    background-color: #1c1c1e;
    color: white;
  }
  
  .widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .middleSection {
    width: 80%;
    height: 100%;
  }
  .middleSection p {
    margin: 14px 10px;
    font-size: 20px;
  }
  .recentOrder {
    margin-top: 30px;
  }
  
  .rightSection {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
  }
  .netProfit {
    margin-bottom: -30px;
  }
  .netProfitMobile{
    display: none;
    width: 100%;
    margin-bottom: -25px;
  }
  .goalsMobile{
    display: none;
  }
  .customerFeedback {
    margin-top: 13px;
    width: 360px;
  
  }
  .customerFeedbackMobile{
    display: none;
    margin-top: 15px;
    width: 390px;

  }
}
@media  (max-width:870px) {
  .dashboard {
    width: 94%;
    height: 50vh;
  }
  .main-content {
    margin: 60px 0px 0px 40px;
    width: 180vw;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #1c1c1e;
    color: white;
  }
  .widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.middleSection {
  width: 80%;
  height: 100%;
}
.middleSection p {
  margin: 14px 10px;
  font-size: 20px;
}
.recentOrder {
  margin-top: 30px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}
.netProfit {
  margin-bottom: -25px;
}
.netProfitMobile{
  display: none;
  width: 100%;
  margin-bottom: -25px;
}
.goalsMobile{
  display: none;
}
.customerFeedback {
  margin-top: 15px;
  width: 390px;

}  .customerFeedbackMobile{
  display: none;
  margin-top: 15px;
  width: 390px;

}
  
}
@media (max-width:590px) {
  .dashboard {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
   
  }
  .main-content {
    margin: 50px 0px 0px 40px;
    width: 180vw;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
    background-color: #1c1c1e;
    color: white;
  }
  .widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .middleSection {
    width: 100%;
    height: 100%;
  }
  .middleSection p {
    margin: 14px 10px;
    font-size: 20px;
  }
  .recentOrder {
    margin-top: 30px;
  }
  
  .rightSection {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
  }
  .netProfit {
    margin-bottom: -25px;
  }
  .netProfitMobile{
    display: none;
    width: 100%;
    margin-bottom: -25px;
  }
  .goalsMobile{
    display: none;
  }
  .customerFeedback {
    margin-top: 15px;
    width: 390px;
  
  }
  .customerFeedbackMobile{
    display: none;
    margin-top: 15px;
    width: 390px;

  }
  
}
@media(max-width:420px){
  .dashboard {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    
  }
  .main-content {
    margin: 50px 0px 0px -9px;
    width: 100%;
    height: calc(100% -50px);
    display: flex;
    flex-direction: row;
    /* padding: 20px; */
    background-color: #1c1c1e;
    color: white;
   
  }
  .widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .middleSection {
    width: 100%;
    height: 100%;
  }
  .middleSection p {
    margin: 14px 10px;
    font-size: 10px;
  }
  .recentOrder {
    margin-top: 30px;
  }
  
  .rightSection {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    display: none;
  }
  .netProfit {
    display: none;
    margin-bottom: -25px;
  }
  .netProfitMobile{
    display: block;
    margin-bottom: -25px;
  }
  .goalsMobile{
    display: block;
  }
  .customerFeedback {
    display: none;
    margin-top: 15px;
    width: 390px;
  
  }
  .customerFeedbackMobile{
    display: block;
    margin-top: 15px;

  }
}

