.customer-feedback {
  background-color: #1f1f2e;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 19px;
  max-height: 61vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.customer-feedback h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.feedback-item .name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.feedback-item .stars {
  color: #ffd700;
  margin-bottom: 5px;
}

.feedback-item .comment {
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 950px) {
  .customer-feedback {
    background-color: #1f1f2e;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    max-height: 58vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .customer-feedback h3 {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .feedback-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  .feedback-item .name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .feedback-item .stars {
    color: #ffd700;
    margin-bottom: 3px;
  }

  .feedback-item .comment {
    font-size: 12px;
    line-height: 1.4;
  }
}

@media (max-width: 870px) {
  .customer-feedback {
    background-color: #1f1f2e;
    color: #ffffff;
    padding: 20px;
    width: 270px;
    border-radius: 10px;
    margin-top: 15px;
    max-height: 52%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .customer-feedback h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .feedback-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  .feedback-item .name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .feedback-item .stars {
    color: #ffd700;
    margin-bottom: 5px;
  }

  .feedback-item .comment {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media (max-width: 420px) {
  .customer-feedback {
    background-color: #1f1f2e;
    color: #ffffff;
    padding: 20px;
    width: 85%;
    border-radius: 10px;
    margin-top: 15px;
    max-height: 52%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .customer-feedback h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .feedback-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  .feedback-item .name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .feedback-item .stars {
    color: #ffd700;
    margin-bottom: 5px;
  }

  .feedback-item .comment {
    font-size: 12px;
    line-height: 1.2;
  }
}
