.header {
    background-color: #1f1f2e;
    height: 60px;
    width: calc(100% - 80px);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 58px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 1000;
}

.search-bar input {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: #FFFFFF;
    width: 300px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons i {
    font-size: 20px;
    
    color: #FFFFFF;
    cursor: pointer;
}

.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.menuIcon {
  display: none;
}

/* Responsive Design */
@media screen and (max-width: 950px) {
    .header {
        background-color: #1f1f2e;
        height: 60px;
        width: calc(100% - 80px);
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50px;
        transition: left 0.3s ease, width 0.3s ease;
        z-index: 1000;
    }
    
    .search-bar input {
        background-color: #333333;
        border: none;
        border-radius: 5px;
        padding: 8px 12px;
        color: #FFFFFF;
        width: 200px;
    }
    
    .header-icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .header-icons i {
        font-size: 17px;
        
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .profile-pic img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    
}

@media screen and (max-width: 480px) {
    .header {
        width: calc(100% - 50px);
        left: 50px;
    }

    .header-icons i {
        font-size: 18px;
        gap: 15px;
    }

    .search-bar input {
        width: 150px;
    }
}

@media (max-width: 420px) {
    .header {
        background-color: #1f1f2e;
        height: 60px;
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0px;
        transition: left 0.3s ease, width 0.3s ease;
        z-index: 1000;
    }
    
    .search-bar input {
        background-color: #333333;
        border: none;
        border-radius: 5px;
        padding: 8px 12px;
        color: #FFFFFF;
        width: 150px;
    }
    
    .header-icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .header-icons i {
        font-size: 20px;
        
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .profile-pic img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .menuIcon {
        display: block;
        margin: 2% 0% 0%;
        font-size: 2rem;
        color: white;
      }
   
}